Repository sammywachtel/lyrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, python-black-check, python-isort-check

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false
  fail_fast: true

python-black-check:
  name: Python Black Format Check (no auto-fix)
  entry: bash -c 'cd backend && black --check --diff .'
  language: system
  pass_filenames: false
  fail_fast: true

python-isort-check:
  name: Python isort Check (no auto-fix)
  entry: bash -c 'cd backend && isort --check-only --diff .'
  language: system
  pass_filenames: false
  fail_fast: true

feat: Add comprehensive E2E testing infrastructure
  e2e/README.md
  e2e/core-functionality.spec.ts
  e2e/redux-integration.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  scripts/validate-iteration.sh
Due: none

Fix critical Lexical performance issues with stress accent delays
  frontend/src/components/CleanSongEditor.tsx
  frontend/src/components/RichTextLyricsEditor.tsx
  frontend/src/components/lexical/plugins/AutoStressDetectionPlugin.tsx
  frontend/src/components/lexical/plugins/StableTextToStressedPlugin.tsx
Due: typescript-check

Fix stress detection race condition: reschedule processing when text added during conversion
  frontend/src/components/lexical/plugins/StableTextToStressedPlugin.tsx
Due: typescript-check

Clean up project structure and organize documentation
  .gitignore
  .secrets.baseline
  ARCHITECTURE_MIGRATION_STATUS.md
  CLAUDE.md
  docs/README.md
  docs/development/code-review-typescript-lexical-antipatterns.md
  docs/development/lexical-linting-guidelines.md
  docs/scripts/build_uml_diag.sh
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/LexicalLyricsEditor.tsx
  frontend/src/components/SearchResults.tsx
  frontend/src/components/SongEditor.tsx
  frontend/src/components/SongSettingsPanel.tsx
  frontend/src/components/layout/SettingsPanel.tsx
  frontend/src/components/lexical/commands/SectionFormattingCommands.tsx
  frontend/src/components/lexical/plugins/AutoStressDetectionPlugin.tsx
  frontend/src/components/lexical/plugins/ComprehensiveStressPlugin.tsx
  frontend/src/components/lexical/plugins/StableTextToStressedPlugin.tsx
  frontend/src/components/lexical/plugins/StressMarkDecoratorPlugin.tsx
  frontend/src/components/nodes/SectionTagNode.tsx
  frontend/src/components/plugins/ProsodyAnalysisPlugin.tsx
  frontend/src/components/plugins/SectionHeaderPlugin.tsx
  frontend/src/store/api/apiSlice.ts
  frontend/src/store/hooks.ts
  frontend/src/styles/prosody.css
  frontend/src/utils/lyricsUtils.ts
  package-lock.json
  package.json
Due: typescript-check

Fix remaining cleanup items
  .gitignore
  docs/scripts/build_uml_diag.sh
  frontend/.eslintcache
  frontend/src/components/SearchResults.tsx
Due: typescript-check

Remove outdated debug and test migration documentation
  frontend/.eslintcache
  frontend/DEBUG_ENTER_KEY.md
  frontend/TEST_MIGRATION_TODO.md
Due: none

Remove Redux anti-pattern and fix critical quality issues
  .gitignore
  .secrets.baseline
  backend/app/__pycache__/auth.cpython-311.pyc
  docs/README.md
  docs/scripts/build_backend_uml_diag.sh
  docs/scripts/build_frontend_uml_diag.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CleanSongEditor.tsx
  frontend/src/components/SongEditor.tsx
  frontend/src/components/SongList.tsx
  frontend/src/components/lexical/plugins/ProsodyAnalysisPlugin.tsx
  frontend/src/components/lexical/plugins/SectionDetectionPlugin.tsx
  frontend/src/components/lexical/ui/StressContextMenu.tsx
  frontend/src/components/nodes/SectionTagNode.tsx
  frontend/src/components/plugins/ProsodyAnalysisPlugin.tsx
  frontend/src/components/plugins/RhymeSchemePlugin.tsx
  frontend/src/main.tsx
  frontend/src/services/stressAnalysis.ts
  frontend/src/store/api/apiSlice.ts
  frontend/src/store/hooks.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/prosodySlice.ts
  frontend/src/store/slices/songsSlice.ts
  frontend/src/store/slices/uiSlice.ts
  frontend/tests/unit/store/apiSlice.test.ts
  frontend/tests/unit/store/songsSlice.test.ts
  tests/e2e/README.md
  tests/e2e/features/core-functionality.spec.ts
  tests/e2e/features/debug-auth.spec.ts
  tests/e2e/features/error-detection.spec.ts
  tests/e2e/features/redux-integration.spec.ts
  tests/e2e/features/test-editor-cursor-focus.spec.ts
  tests/e2e/features/test-save-status.spec.ts
Due: typescript-check

Fix whitespace and EOF issues in UML build scripts
  docs/scripts/build_backend_uml_diag.sh
  docs/scripts/build_frontend_uml_diag.sh
Due: none

Fix all ESLint errors and critical quality warnings
  frontend/src/components/CleanSongEditor.tsx
  frontend/src/components/RichTextLyricsEditor.tsx
  frontend/src/components/lexical/plugins/ComprehensiveStressPlugin.tsx
  frontend/src/components/plugins/SectionLabelsPlugin.tsx
  frontend/src/components/plugins/SyllableMarkingPlugin.tsx
Due: typescript-check

Fix infinite rendering loops causing performance issues
  frontend/src/components/CleanSongEditor.tsx
  frontend/src/components/SongList.tsx
Due: typescript-check

Remove legacy plugins and clean up codebase architecture
  backend/app/__pycache__/models.cpython-311.pyc
  backend/app/models.py
  backend/mypy.ini
  frontend/eslint.config.js
  frontend/src/App.tsx
  frontend/src/components/CleanSongEditor.tsx
  frontend/src/components/RichTextLyricsEditor.tsx
  frontend/src/components/lexical/plugins/ComprehensiveStressPlugin.tsx
  frontend/src/components/lexical/plugins/StressMarkDecoratorPlugin.tsx
  frontend/src/components/plugins/ProsodyAnalysisPlugin.tsx
  frontend/src/components/plugins/RhymeSchemePlugin.tsx
  frontend/src/components/plugins/SectionHeaderPlugin.tsx
  frontend/src/components/plugins/SectionLabelsPlugin.tsx
  frontend/src/components/plugins/SyllableMarkingPlugin.tsx
Due: typescript-check, python-black-check, python-isort-check

Fix Flake8 F401 error: remove unused Optional import
  backend/tests/utils/test_helpers.py
Due: python-black-check, python-isort-check

Remove __pycache__ files from git tracking and add to .gitignore
  .gitignore
  backend/app/__pycache__/__init__.cpython-311.pyc
  backend/app/__pycache__/auth.cpython-311.pyc
  backend/app/__pycache__/config.cpython-311.pyc
  backend/app/__pycache__/dictionary.cpython-311.pyc
  backend/app/__pycache__/main.cpython-311.pyc
  backend/app/__pycache__/models.cpython-311.pyc
  backend/app/__pycache__/nlp_setup.cpython-311.pyc
  backend/app/__pycache__/songs.cpython-311.pyc
  backend/app/__pycache__/stress_analysis.cpython-311.pyc
  backend/tests/__pycache__/__init__.cpython-311.pyc
  backend/tests/__pycache__/test_config.cpython-311-pytest-8.4.1.pyc
  backend/tests/__pycache__/test_main.cpython-311-pytest-8.4.1.pyc
  backend/tests/unit/__pycache__/__init__.cpython-311.pyc
  backend/tests/unit/__pycache__/test_config.cpython-311-pytest-8.4.1.pyc
  backend/tests/unit/__pycache__/test_main.cpython-311-pytest-8.4.1.pyc
Due: none

Resolve merge conflicts: update frontend dependencies to match main
  frontend/package.json
Due: none

Update package-lock.json to match package.json dependency versions
  frontend/package-lock.json
Due: none

Add GitHub Actions workflows and fix Node version for Vite 7 compatibility
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/pr-preview.yml
  .github/workflows/quality-gate.yml
  .github/workflows/quality-standardized.yml
Due: none

Merge latest dependency updates while preserving architectural changes
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  python-black-check: any of: ^backend/.*\.py$
  python-isort-check: any of: ^backend/.*\.py$
